.scroll-animation {
  animation: scroll-text linear;
  animation-timeline: scroll(root);
}

.scroll-animation label {
  transform: scale(1, 1.2);
}


@keyframes scroll-text {
  0% {
    transform: translate(0%);
  }
  100% {
    transform: translate(100%);
  }
}
