#contact .scroll-animation-contact {  
  animation: scroll-text-contact linear;
  animation-timeline: scroll(root);
}

#contact .scroll-animation-contact label {
  transform: scale(1, 1.7);
}

@keyframes scroll-text-contact {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0%);
  }
}
