#contact .scroll-animation {
  animation: scroll-text-contact linear;
  animation-timeline: scroll(root);
}

@keyframes scroll-text-contact {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0%);
  }
}
