.card {
  position: relative;
  top: 0;
  width: 400px;
  height: 330px;
  background: #fff;
  margin: 45px 35px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.card .imgBox {
  position: relative;
  width: 350px;
  height: 260px;
  top: 20px;
  left: 5px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  transition: 0.4s top ease-in-out;
}

/* .card .imgBox img {
  max-width: 100%;
  border-radius: 4px;
} */

.card:hover .imgBox img {
  transition: 0.4s ease-in;
  box-shadow: 5px 8px 48px rgba(0, 0, 0, 0.5);
}

.card:hover .imgBox {
  top: -70px;
}

.card .content {
  /* position: relative; */
  /* margin-top: -150px; */
  /* padding: 20px 15px; */
  /* text-align: center; */
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s ease-in-out;
}

/* .card .content h2 {
  margin-bottom: 10px;
} */

.card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
}