/* Themes */
@import 'theme/neon.css';
@import 'theme/swiss.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  .theme-default {
    --color-primary: 202, 240, 248;
    --color-secondary: 25, 22, 69;
    --color-action: 67, 198, 172;
  }

  html.dark .theme-default {
    --color-primary: 31, 34, 53;
    --color-secondary: 209, 214, 255;
    --color-action: 255, 75, 75;
  }
}
